.logo {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #f39c12; /* White text color */
}
.nav{
      background-color: steelblue;
  }
  
  .logo .and {
    color: #f39c12; /* Highlight the "&" with a different color */
  }