.card{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0px 0px 5px 1px;

    .card-header{
        text-align: center;
        font-weight: bold;
        background-color: gainsboro;
    }

    .btn-cont{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        
        .btn{
            font-weight: bold;
        }
    }
}

.text-danger{
    color:red
}

.image{
    img{
        width: 5rem;
        height: 5rem;
    }
}